# Flutter build & tool files
build/
.dart_tool/
.packages
.pub/
.melos_tool/

# IDE and Editor folders
.idea/
*.iml
.vscode/

# Flutter plugins/dependencies
.flutter-plugins
.flutter-plugins-dependencies

# macOS
macos/Flutter/ephemeral/

# Linux
linux/Flutter/ephemeral/

# Windows
windows/Flutter/ephemeral/
windows/.dart_tool/

# Android
android/.gradle/
android/local.properties
android/app/release
android/app/debug
android/app/profile

# iOS
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks/
ios/Pods/
ios/.flutter-plugins
ios/.flutter-plugins-dependencies
ios/Flutter/engine/

# Misc
*.lock
*.log
*.DS_Store

# Local secret configs
notification_config.json
.env
